/*! DOCUMENT */
:root {
    --green: #14cf93;
}

*, ::after, ::before {
    padding: 0; 
    margin: 0;
}

body {
    box-sizing: border-box;
    padding: 0;
    background:  radial-gradient(rgba(255,255,255, 1),  rgba(200, 200, 200, 0)), url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position */
.absolute-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* FLEXBOX */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col{ 
    display: flex;
    flex-direction: column;
    gap: 2;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#main {
    position: relative;
}

/* loader */
#loader {
    width: 100%;
    height: 100vh;
    background-color: #111;
    color: white;
}

#loader h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    font-weight: 400;
    word-spacing: 15px;
}

#loader h1 #highlight {
    font-style: italic;
    color: var(--green);
}

#loader #topheading {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#topheading h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;

}

#green {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--green);
}


/* Text */
 .reveal .parent {
    display: block;
    overflow: hidden;
 }

  .reveal .parent .child  {
    display: block;
    /* transform: translateY(75%); */
  }

  .child span {
    display: inline-block;
  }

  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

/* coming soon box */
#soon {
    top: 25px;
    transform: translateX(100%);
}

@media screen and (min-width: 768px) {
    #soon {
        top: 50%;
        transform: translate(100%, -50%);
    }

    #loader h1 {
        font-size: 6vw;
    }
}